@using boiDokan.entities.Models
@model Product

@{
    ViewData["Title"] = "CoverType";
}

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr/>
        </div>
        @* <div asp-validation-summary="All"></div> *@
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-danger" style="width: 150px">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to list</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

