@using boiDokan.entities.Models
@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px">
                    <div class="card" style="height: 380px">
                        <img src="@product.ImageUrl" class="rounded" height="100%"/>
                        <div class="ps-1"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>