@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is : @Model
        <img src="../../images/asset/success.gif" height="500px" width="500px"/>
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br/>
        Your order has been placed successfully! <br/>
    </div>
</div>